*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.flex-menus{
    display: flex;
    flex-direction: row;
}
.flex-container{
    display: flex;
    flex-direction: column;
    background-color: lightsalmon;
}
.flex-container>div{
    margin: 10px;
    border: 1px solid #325;
    padding: 10px;
    background-color: #fff;
    box-sizing: content-box;
}

.header{
    padding: 50px;
    background-color: pink;
    color: white;
}

.navbar{
    display: flex;
    flex-direction: row;
    background-color: brown;
}
.navbar a{
    color: lavenderblush;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
}

a:hover{
    color: black;
    background-color: white;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
.side{
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
    /*box-sizing: border-box;*/
}
.main{
    flex: 40%;
    background-color: white;
    padding: 20px;
    /*box-sizing: border-box;*/
}

.footer{
    text-align: center;
    padding: 20px;
    background: #ddd ;
}

@media screen and(max-width:700px) {
    .row.navbar{
        flex-direction: column;
    }
}